{% extends 'base.html.twig' %}

{% block body %}
<div class="details-content">
    <h2>{{ jeu.libelle }}</h2>
    <img src="{{ asset(jeu.image) }}" alt="{{ jeu.libelle }}" class="details-img">
    <p><strong></strong> {{ jeu.categorie.libelle }}</p>
    <p>{{ jeu.description }}</p>
    <p class="price">💰 {{ jeu.prix }} €</p>
    <a href="{{ path('app_add_panier', {id: jeu.id}) }}" class="btn-add">🛒 Ajouter au panier</a>
</div>

<style>
.details-content {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.details-img {
    max-width: 300px;
    border-radius: 12px;
    margin: 15px 0;
}
.price {
    color: #0bdf52ff;
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.3rem;
}
.btn-add {
    background: #82d812ff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
.btn-add:hover {
    background: #10da42ff;
    color: #000;
}
</style>
{% endblock %}


